@{
    ViewData["Title"] = "Olho Vivo";
}

<div class="text-center">
    <header class="d-flex justify-content-center py-3">
        <h1>Olho Vivo API</h1>
    </header>
    <button id="autenticarButton" class="btn btn-primary">Autenticar</button>
    <button id="getPosicaoButton" class="btn btn-primary">Posição</button>
    <div id="result" class="mt-3"></div>
</div>

@section Scripts {
    <script src="~/js/olhoVivo.js"></script>
}